<select class="form-control" ng-model="doctorListController.categorySelect">
  <option ng-repeat="option in doctorListController.categoryList">{{option}}</option>
</select>

<h3>Doctor Search Results</h3>
<table class="table">
    <thead>
        <th>Name</th>
        <th>Title</th>
        <th>Picture</th>
    </thead>
    <tbody>
      <tr ng-repeat="doctor in doctorListController.doctorList | filter: doctorListController.categorySelect">
           <td><a ui-sref="doctorDetail({doctorId: doctor.uid, practiceUid: doctor.practices[0].uid})">{{doctor.profile.first_name}} - {{doctor.profile.last_name}}</a></td>
           <td>{{doctor.profile.title}}</td>
           <td><img src="{{doctor.profile.image_url}}"/></td>
      </tr>
    </tbody>
</table>
